{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/normalize.css') }}">
{% endblock %}
{% block body %}

    <h1>Mon profil</h1>
    <br>
    <div class="profil-container">
        <div>
        {{ form_errors(editForm) }}

       {{ form_start(editForm, {'attr': {'enctype': 'multipart/form-data'}}) }}
        {% if user.PhotoProfil %}
            <aside class="photo">
            <img src="{{ asset('img/PhotoProfil/' ~ user.PhotoProfil) }}" alt="Photo de profil">
            </aside>
        {% endif %}
        </div>

        <div class="form">
        {{ form_row(editForm.profilePicture) }}

        {{ form_row(editForm.email) }}
            <br>
        {{ form_row(editForm.pseudo) }}



        <section class="button">

            <button><a href="{{ path('editPassword') }}">Modifier le mot de passe</a></button>
            {{ form_widget(editForm.Supprimer) }}
            {{ form_widget(editForm.Enregistrer) }}
            <button onclick="window.location.href='{{ path('app_accueil') }}'" class="btn">Retour</button>
        </section>
        </div>
        {{ form_end(editForm) }}
    </div>
    <div class="recette">
    <h2>Mes recettes</h2>

        <div>
        {%for recette in user.recettes %}
            <a href="{{path('app_detail', {'id': recette.id}) }}">{{ recette.nom }}</a>
            <br>
            <button><a href="{{ path('app_nouvelleRecette') }}">Ajouter une recette</a></button>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block title %}

{% endblock %}

