{% extends 'base.html.twig' %}
{% block title %}Ajout Ingredients{% endblock %}

{% block body %}
    {{ form_start(ingredientForm, {'attr': {'id': 'ingredient-form'}})  }}
    <div id="ingredient-container">
        <div class="ingredient-form">
            {{ form_row(ingredientForm.Ingredient) }}
            {{ form_row(ingredientForm.Quantite) }}
            <button type="button" class="remove-ingredient">Enlever</button>
        </div>
    </div>
    <input type="hidden" name="ingredientsData" id="ingredients-data">
    <button type="button" id="add-ingredient"> ajouter un ingredient </button>
    <button type="submit"> Creer</button>
    {{ form_end(ingredientForm) }}

    <script src="{{ asset('js/modifyIngredient.js') }}"></script>
{% endblock %}


