{% extends 'base.html.twig' %}
{% block title %}Entrees{% endblock %}

{% block body %}
    <h1>Entrees</h1>
    <section class="recettes-section">
        {% for recette in entrees %}
            <a class="recette-link" href="{{path('app_detail', {'id': recette.id}) }}">{{ recette.nom }}</a>
        {% endfor %}
    </section>

    <section class="navigation">
        {% if pageActuelle > 1 %}
            <a href="{{ path('app_entrees', {'page': pageActuelle - 1}) }}"> < </a>
        {% endif %}

        {% for page in 1..maxPages %}
            {% if page == pageActuelle %}
                <strong>{{ page }}</strong>
            {% else %}
                <a href="{{ path('app_entrees', {'page': page}) }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if pageActuelle < maxPages %}
            <a href="{{ path('app_entrees', {'page': pageActuelle+1}) }}"> > </a>
        {% endif %}
    </section>
{% endblock %}