{% extends 'base.html.twig' %}
{% block title %}Modifié vos Ingredients{% endblock %}

{% block body %}
    <h1>Modifiée vos Ingredients</h1>
    <form id="ingredient-form" method="post">
        <div id="ingredient-container">
            {% for ingredientForm in ingredientForms %}
                <div class="ingredient-form form-container">
                    <div class="form-row">
                        {{ form_label(ingredientForm.Ingredient) }}
                        {{ form_widget(ingredientForm.Ingredient, {'attr': {'class': 'input'}}) }}
                    </div>
                    <div class="form-row">
                        {{ form_label(ingredientForm.Quantite) }}
                        {{ form_widget(ingredientForm.Quantite, {'attr': {'class': 'input'}}) }}
                        <button type="button" class="remove-ingredient form-button remove-button">Enlever</button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <input type="hidden" name="ingredientsData" id="ingredients-data">
            <button type="button" id="add-ingredient" class="form-button">ajouter un ingredient</button>
            <button type="submit" class="form-button" disabled>Enregistrer</button>
    </form>

    <script src="{{ asset('js/modifyIngredient.js') }}"></script>
{% endblock %}



