 {% extends 'base.html.twig' %}
{% block title %}Nouvelle Recette{% endblock %}

{% block body %}
    <h1>Crée votre recette</h1>
    {{ form_start(recetteForm) }}
    <div class="form-container">
        <div class="form-row">
            {{ form_label(recetteForm.Nom) }}
            {{ form_widget(recetteForm.Nom, {'attr': {'class': 'input'}}) }}
        </div>
        <div class="form-row">
            {{ form_label(recetteForm.TempsPreparation) }}
            {{ form_widget(recetteForm.TempsPreparation, {'attr': {'class': 'input'}} ) }}
        </div>
        <div class="form-row">
            {{ form_label(recetteForm.TempsCuisson) }}
            {{ form_widget(recetteForm.TempsCuisson, {'attr': {'class': 'input'}}) }}
        </div>
        <div class="form-row">
            {{ form_label(recetteForm.Portions) }}
            {{ form_widget(recetteForm.Portions, {'attr': {'class': 'input'}}) }}
        </div>
            {{ form_errors(recetteForm.Portions) }}
        <div class="text-row">
            {{ form_label(recetteForm.Instructions) }}
            {{ form_widget(recetteForm.Instructions, {'attr': {'class': 'text-area-input'}}) }}
        </div>
        <div class="form-row">
            {{ form_label(recetteForm.Categorie) }}
            {{ form_widget(recetteForm.Categorie, {'attr': {'class': 'input'}}) }}
        </div>
    </div>

    <button type="submit" class="form-button">Ajouter des ingredients</button>
    {{ form_end(recetteForm) }}
{% endblock %}


