 {% extends 'base.html.twig' %}
{% block title %}Nouvelle Recette{% endblock %}

{% block body %}
    {{ form_start(recetteForm) }}
    {{ form_row(recetteForm.Nom) }}
    {{ form_row(recetteForm.TempsPreparation) }}
    {{ form_row(recetteForm.TempsCuisson) }}
    {{ form_row(recetteForm.Portions) }}
    {{ form_row(recetteForm.Instructions) }}
    {{ form_row(recetteForm.Categorie) }}

    <button type="submit">Ajouter des ingredients</button>
    {{ form_end(recetteForm) }}
{% endblock %}


