{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/normalize.css') }}">
{% endblock %}
{% block body %}

    <h1>Profil de {{ user }}</h1>
    {% if user.PhotoProfil %}
        <aside class="photo">
            <img src="{{ asset('img/PhotoProfil/' ~ user.PhotoProfil) }}" alt="Photo de profil">
        </aside>
    {% endif %}

    <div></div>
    <section >
        <button onclick="window.location.href='{{ path('app_accueil') }}'" class="btn">Retour</button>
    </section>
    {{ form_end(editForm) }}

    {%for recette in user.recettes %}
        <a href="{{path('app_detail', {'id': recette.id}) }}">{{ recette.nom }}</a>
    {% endfor %}
{% endblock %}