<nav>
    {% if app.user %}
        <ul>
            <li><a href="{{ path('app_entrees') }}">Entrées</a></li>
            <li><a href="{{ path('app_plats') }}">Plats</a></li>
            <li><a href="{{ path('app_desserts') }}">Desserts</a></li>
            <li><a href="{{ path('edit') }}">Mon Profil</a></li>
            <li><a href="{{ path('app_recherche') }}">Trouvez une recette</a></li>
            <li><a href="{{ path('app_logout') }}">Deconnexion</a></li>
        </ul>
    {% endif %}
</nav>